.reveal {
    zoom: 1.2;
}
.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

.reveal section ul li em,
.reveal section ul li code {
    color: #88a544;
}

.reveal section h2 strong {
    color: #88a544;
}

.reveal section blockquote {
    color: #88a544;
    margin: 1em 0;
    width: auto;
    font-size: 120%;
    box-shadow: none;
}
.reveal section blockquote cite {
    color: #C6C6C6;
    font-size: 70%;
}

.reveal section .left {
    float: left;
    width: 49%;
}
.reveal section .right {
    float: right;
    width: 49%;
}
.reveal section .left7 {
    width: 69%;
}
.reveal section .right3 {
    width: 29%;
}

.review {
    color: #ff8000 !important;
}

.reveal .smaller {
    font-size: 0.6em
}

.reveal code {
    color: #88a544;
}
.reveal pre {
    margin-left: 0;
    margin-right: 0;
}

.reveal pre code {
    font-size: 1.2em;
    line-height: 1.2em;
    max-height: 800px;
    color: #000;
}
.reveal .left pre,
.reveal .right pre {
}

.titleSlide h1 {
    color: #88a544;
    font-size: 3em;
}
.titleSlide img {
    max-width: 90%;
    max-height: 450px;
}

.reveal table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.reveal table.smaller td,
.reveal table.smaller th {
    font-size: 1.3em;
}
.reveal table.smallest td,
.reveal table.smallest th {
    font-size: 85%;
}
.reveal table th,
.reveal table td {
    border: 1px solid #ccc;
    padding: 2px 5px;
    vertical-align: top;
}
.reveal table th {
    font-weight: bold;
}
.reveal table pre {
    margin: 0;
}

.reveal .demo {
    text-align: left;
    padding: 1em;
    margin: 1em 0;
    background-color: #cfcfcf;
    font-size: 30px;
    border-radius: 0.5em;
    border: 1px solid #afafaf;
    color: #000;
}
.reveal .demo button {
    font-size: 20px;
    
}
