/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
pre code {
  display: block; padding: 0.5em;
  color: #333;
  background: #f8f8ff
}

pre .comment,
pre .template_comment,
.diff pre .header,
pre .javadoc {
  color: #2fa500;
  font-style: italic
}

pre .keyword,
.css .rule pre .keyword,
pre .winutils,
.javascript pre .title,
.nginx pre .title,
pre .subst,
pre .request,
pre .status {
  color: #0052b7;
  font-weight: bold
}

pre .number,
pre .hexcolor,
.ruby pre .constant {
  color: #099;
}

pre .string,
pre .tag pre .value,
pre .phpdoc,
.tex pre .formula {
  color: #d14
}

pre .title,
pre .id,
.coffeescript pre .params,
.scss pre .preprocessor {
  color: #900;
  font-weight: bold
}

.javascript pre .title,
.lisp pre .title,
.clojure pre .title,
pre .subst {
  font-weight: normal
}

pre .class pre .title,
.haskell pre .type,
.vhdl pre .literal,
.tex pre .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag pre .title,
pre .rules pre .property,
.django pre .tag pre .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
.lisp pre .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
.ruby pre .symbol pre .string,
.lisp pre .keyword,
.tex pre .special,
pre .prompt {
  color: #990073
}

pre .built_in,
.lisp pre .title,
.clojure pre .built_in {
  color: #0086b3
}

pre .preprocessor,
pre .pragma,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

.diff pre .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}
